.page { }
.page__main { }
.form { }
.form__title { }
.form__content { }
.form__row {
  margin-top: 1em;
}
.form__label {
  display: inline-block;
  position: relative;
  padding-left: 24px;
  overflow: hidden;
}
.form__label::before {
  width: 16px;
  height: 16px;
  background: lightgray;
  border-radius: 50%;
  left: 0;
  top: 0;
  position: absolute;
  content: '';
}
.form__label--checked::before {
  background: lightcoral;
}
.form__checkbox {}
.form__checkbox--replaced {
  display: none;
  position: absolute;
  left: 0;
  top: -30px;
}