* {
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size:62.5%;
}

body {
    padding: 2rem;
}

h1 {
    font-size:2rem;
    margin-bottom: 2rem;
}

.accesible__hide {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
}

.inputField {
    display: inline-block;
}

.inputField:hover {
    cursor: pointer;
}

.inputField__group {
    border:none;
    margin-bottom: 3rem;
}

.inputField__title {
    font-size:1.6rem;
    margin-bottom:1.5rem;
}

.inputField__text {
    padding: 0 1.6rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.inputField__content {
    align-items: center;
    display: flex;
}