.inputField__checkbox  .inputField__content {
    display: flex;
    min-height: 3.2rem;
    align-items: center;
}

.inputField__checkbox + .inputField__content .inputField__label {
    position: relative;
    overflow:hidden;
}

.inputField__checkbox + .inputField__content .inputField__label::before {
    border:1px solid  #ccd9de;
    border-radius: 3px;
    box-sizing: border-box;
    height: 3.2rem;
    width: 3.2rem;
}
.inputField__checkbox + .inputField__content .inputField__label::before,
.inputField__checkbox + .inputField__content .inputField__label::after {
    display: block;
    content: '';
}

.inputField__checkbox:focus + .inputField__content .inputField__label {
    outline:1px solid #CCC;
    position:relative;
}

.inputField__checkbox:checked + .inputField__content .inputField__label::before {
    background-color: #EEE;
}
.inputField__checkbox:checked + .inputField__content .inputField__label::after {
    color: #71c614;
    line-height: 1;
    font-size: 2rem;
    position:absolute;
    left: .6rem;
    top: .6rem;   
    content: "\ea10";
}

.inputField__checkbox:focus + .inputField__content {
    outline: 1px solid #CCC;
}